numpy
pandas
dask
# for pycaret
scipy<=1.5.4
# for pycaret
numba<0.55
matplotlib

pyopengl
pyopengl_accelerate

# for JetBrains IDE syntax highlighting
# cf. https://github.com/opencv/opencv/issues/20997#issuecomment-1176523621
opencv-python==4.5.5.62
opencv-contrib-python
open3d==0.15.2
laspy[lazrs,laszip]

scikit-learn==0.23.2
